<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block 'title' %} QuickChatz {% endblock %}</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script>
        {% block 'script' %} {% endblock %}
    </script>

</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">QuickChatz</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-button mdl-js-button" href=""><b style='color: white;'>Home</b></a>
            <a class="mdl-button mdl-js-button" href=""><b style='color: white;'>About Us</b></a>
            <a class="mdl-button mdl-js-button" href=""><b style='color: white;'>Contact</b></a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
            {% block 'body' %}

            {% endblock %}
        </div>
      </main>
    </div>
</body>
</html>